<%= link_to 'View existing statements', income_expense_statements_path %>

<h3>Add Expenditures and Incomes Statement</h3>

<%= form_with(model: @income_expense_statement, local: true) do |form| %>
  <% if @income_expense_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_expense_statement.errors.count, "error") %> prohibited this income & expense statement from being saved:</h2>

      <ul>
        <% @income_expense_statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <small class="text-sm">Enter your income and expense data in JSON format, like this: [{"income_title":"Salary","income_amount":"5000", "frequency": "monthly", "currency": "GBP"},{"expense_title":"Rent","expense_amount":"1000", "frequency": "monthly", "currency": "GBP"}]</small>
    <br>
    <%= form.label :statement_data %>
    <br>
    <%= form.text_area :statement_data, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
<small>Or upload income and expense statement via csv using headers: [Income, Income Amount, Expenditure, Expenditure Amount, Currency, Frequency]</small>
<%=form_with url: upload_income_expense_statements_path, method: :post do |form| %>
  <%= form.file_field :file, accept: '.csv' %>
  <br>
  <%= form.button "Import" %>
<% end %>
