<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Income</th>
      <th>Amount</th>
      <th>Expenditure</th>
      <th>Amount</th>
      <th>Frequency</th>
    </tr>
  </thead>

  <tbody>
      <% @income_expense_statement.statement_data.each do |data| %>
      <tr>
        <td><%= data[:income_title] %></td>
        <td><%= data[:income_amount] %></td>
        <td><%= data[:expense_title] %></td>
        <td><%= data[:expense_amount] %></td>
        <td><%= data[:currency] %></td>
        <td><%= data[:frequency] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', income_expense_statements_path %>
