<!DOCTYPE html>
<html>
  <head>
    <title>IE StatementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <a href="/users/sign_out">Sign out</a>
      <h3>Welcome back <%= current_user.email %></h3>
      <%= yield %>
    <% else %>
      <h2>Welcome to your Income Expenditure app!</h2>
      <p>Please <%= link_to 'sign up', new_user_registration_path %> or <%= link_to 'log in', new_user_session_path %> to get started.</p>
      <%= yield %>
    <% end %>
  </body>
</html>
